
{% if not user.game.is_done %}
    <a href="{{ url_for('surrender') }}">Surrender</a>
{% endif %}
<a href="{{ url_for('leave_game') }}">Leave Game</a>

<br>

<h3>Days remaining: {{ user.game.days_remaining }}</h3>
{% if user.game.get_game_message(user) != None %}
    <h3 style="background-color:lightblue;">{{ user.game.get_game_message(user) }}</h3>
{% endif %}

<div class="game-board" style="grid-template-columns:{%  for col in user.game.board[0] %} {{ cell_size }}{% endfor %};grid-template-rows:{%  for row in user.game.board %} {{ cell_size }}{% endfor %};">
    {% for row in user.game.board %}
        {% for cell in row %}
            <button type="button" class="box" id="button_{{cell.row}}_{{cell.col}}" style="background-color: {{ cell.get_color(user) }}" onClick="handle_click(this.id)">
            {% if cell.get_image(user) %}
                <img src="{{ cell.get_image(user) }}" alt="">
            {% endif %}
            </button>
        {% endfor %}
    {% endfor %}
</div>

{% if user.game.is_done %}
    <script>
        clearInterval(refreshInterval);
    </script>
{% endif %}