<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheets/home.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}"/>
    <meta http-equiv="refresh" content="2">
</head>
<body>
    <div>
        Currently logged in as: <b>{{ currentUser }}</b> <a href="{{ url_for('logout') }}">Logout</a>
    </div>
    <h2>Select an opponent</h2><br>
    <div id="OpponentList">
        {% if opponents|length == 0 %}
            <p>No other players are online and ready to play</p>
        {% endif %}
        {% for opponent in opponents.values() %}
            <a href="/startGame?opponent={{ opponent.username }}">{{ opponent.username }}</a>
        {% endfor %}
    </div>
</body>
</html>